.calendar {
  width: 25vw;
  background-color: whitesmoke;
  border-radius: 5px;
}

@media screen and (max-width: 767px) {
  .calendar {
    width: 75vw;
  }
}

@media screen and (min-width: 768px) {
  .calendar {
    width: 50vw;
  }
}

@media screen and (min-width: 992px) {
  .calendar {
    width: 25vw;
  }
}

.calendar>.calendar-header {
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.calendar-header .calendar-header__btn {
  cursor: pointer;
  border: none;
  background-color: transparent;
  transition: color ease-in .25s;
}

.calendar-header .calendar-header__btn:hover {
  color: #409eff;
}

.calendar>.calendar-content {
  padding: 10px;
}

.calendar-content>.calendar-content__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.calendar-content__list>li {
  aspect-ratio: 1;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color, color 0.25s ease-in;
  border-radius: 50%;
}

.calendar-content__list>li:not(.is-day, .is-active):hover {
  background-color: rgba(209, 200, 200, 0.445);
  color: #409eff;
}

.calendar-content__list>li.is-active {
  background-color: #409eff;
  color: white;
}

.calendar-content__list>li:where(.prev, .next) {
  color: #c0c4cc;
}

.calendar-content__list>li.is-day {
  cursor: default;
}